<!DOCTYPE html>
<html lang="ru" style="margin-top: -20px;">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_nav">
                    <a class="header_logo" href="{{ url_for('main.index') }}">ToDoList!</a>
                </div>

                <input
                    type="search"
                    name="finder"
                    id="finder"
                    class="finder"
                    placeholder="Find task"
                />

                {% if current_user.is_authenticated %}
                    <div class="header_nav">
                        {% set image_file = url_for('static', filename='profile_pics/' + current_user.image_file) %}
                        <a href="{{ url_for("users.dashboard") }}" class="username">{{ current_user.name.capitalize() }}
                        <img class="rounded-circle account-img" src="{{ image_file }}" width="50" height="50"></a>
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="side_bar">
            <div class="row">
                <div class="sidebar_section">
                    <div class="sidebar_item">
                        <img
                            src="/static/img/icons/Main_page.png"
                            class="icon"
                        />
                        <a href="{{ url_for("users.tasks") }}">Main page</a>
                    </div>
                    <div class="sidebar_item">
                        <img
                            src="/static/img/icons/Statistics.png"
                            class="icon"
                        />
                        <a href="{{ url_for("users.dashboard") }}">Statistics</a>
                    </div>
                    <div class="sidebar_item">
                        <img
                            src="/static/img/icons/Projects.png"
                            class="icon"
                        />
                        <a href="#">Projects</a>
                    </div>
                </div>

                <div class="sidebar_section">
                    <div class="sidebar_item">
                        <img
                            src="/static/img/icons/Settings.png"
                            class="icon"
                        />
                        <a href="#">Settings</a>
                    </div>
                    <div class="sidebar_item">
                        <img
                            src="/static/img/icons/Logout.png"
                            class="icon"
                        />
                        <a href="{{ url_for("users.logout") }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Выводятся flash уведомления -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
        <div class="modal" id="AddTaskModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adding a task</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.title.label }}<br>
                                {{ form.title(class="form-control") }}<br>
                                {% for error in form.title.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.priority.label }}<br>
                                {{ form.priority(class="form-control") }}<br>
                                {% for error in form.priority.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.scheduled_date.label }}<br>
                                {{ form.scheduled_date(class="form-control") }}<br>
                                {% for error in form.scheduled_date.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#myModal").modal('show');
            });
        </script>
    </body>
        {% block script %}{% endblock %}
</html>
