{% extends "base.html" %} {% block content %}
<main>
    <div style="margin-top: 8em;">
        <a href="{{ url_for('users.update_account') }}" class="btn btn-primary">Change Info</a>
        <img class="rounded-circle account-img" src="{{ image_file }}" style="width: 250px; height: 250px;">
        <h1>{{ current_user.name }}</h1>
        <h4>
            With us since {{ current_user.created_date.strftime("%d.%m.%Y") }}
        </h3>
        <h3 class="display-6"><b>{{ completed }}</b> completed tasks</h3>
        <br>
        <h3><b>Weekly Activity</b></h1>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in tasks.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
