{% extends "base.html" %}

{% block content %}
<div>
    <p class="title">Edit Task</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </p>
        <p>
            {{ form.priority.label }}
            <div class="priority-choice">
                <div class="priority-unit">
                    <label class="container">
                        <input type="radio" name="priority" value="1">
                        <span class="checkmark">1</span>
                    </label>
                </div>
                <div class="priority-unit">
                    <label class="container">
                        <input type="radio" name="priority" value="2">
                        <span class="checkmark">2</span>
                    </label>
                </div>
                <div class="priority-unit">
                    <label class="container">
                        <input type="radio" name="priority" value="3">
                        <span class="checkmark">3</span>
                    </label>
                </div>
                <div class="priority-unit">
                    <label class="container">
                        <input type="radio" name="priority" value="4">
                        <span class="checkmark">4</span>
                    </label>
                </div>
            </div>
        </p>
        <p>
            {{ form.scheduled_date.label }}<br>
            <input class="calendar" type="date" name="calendar" data-date-format="DD MMMM YYYY" value="{{ today }}" min="{{ today }}">
        </p>
        <p style="float: right;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}
