{% extends "base.html" %}
{% block content %}
<div class="d-flex">
    <span class="friends-nav select-tab" id="tab-friend">
        <p>Friends</p>
    </span>
    <span class="friends-nav" id="tab-pending">
        <p>Pending</p>
    </span>
    <span class="friends-nav" id="tab-add-friend">
        <p>Add Friend</p>
    </span>
</div>

<div id="tab-friend-content" class="tab-content d-block">
    <h2>Friends</h2>
    <ul>
        {% for friend in friends %}
            <li>{{ friend }}</li>
        {% endfor %}
    </ul>
</div>

<div id="tab-pending-content" class="tab-content">
    <h2>Pending</h2>
    <ul>
        {% for val, key in pending.items() %}
            <h2>{{ val.capitalize() }} Requests</h2>
            <ul>
            {% for friend in key %}
                <li>{{ friend }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>

<div class="container tab-content" id="tab-add-friend-content">
    <div class="row no-gutters my-4">
        <div class="col-12">
            <h1>Add a friend</h1>
        </div>
    </div>

    <div class="row no-gutters my-4">
        <div class="col-12">
            <p>Your Friend Code</p>
            <h1>{{ user_code }}</h1>
        </div>
    </div>

    <div class="row no-gutters my-4">
        <div class="col-md-12 px-2">
            <label>Enter your friend's Friend Code to send friend request.</label>
            <input type="text" class="form-control" id="friend-code" placeholder="Enter a Friend Code">
        </div>
    </div>

    <div class="row no-gutters my-3" id="results">
        <p></p>
        <form action="" method="get" class="d-none">
            <div class="col-4">
                <img
                    class="search-profile-img mx-auto d-block"
                    src="{{ url_for('static', filename='profile_pics/default.jpg') }}"
                />
            </div>
            <div class="col-8 text-center my-auto">
                <h2></h2>
                <h5></h5>
                <input class="btn btn-primary" type="submit" value="Add Friend">
            </div>
        </form>
    </div>
</div>

{% endblock content %}
{% block script %}
<script src="{{ url_for('static', filename='scripts/friends.js') }}"></script>
{% endblock script %}