{% extends "base.html" %} {% block content %}
<main>
    <div class="container" id="cards" style="margin-top: 8em">
        <div class="card_header">
            <h1 style="text-align: center">Today Tasks</h1>
            <div class="btn-group">
                <a
                    href="{{ url_for('users.upcoming_tasks') }}"
                    class="btn btn-primary"
                    >All tasks</a
                >
            </div>
            <a
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#AddTaskModal"
                >Add Task</a
            >
        </div>
        <div class="cards" id="tasks">
            {% for item in tasks %}
            <div class="card text-center" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">
                        Priority: <a class="priority">{{ item.priority }}</a>
                    </p>
                    <div class="card_buttons">
                        <input
                            type="checkbox"
                            id="completed"
                            name="{{ item.id }}"
                            onclick="completeTask(this.name)"
                        />
                        <a
                            data-toggle="modal"
                            data-target="#AddTaskModal"
                            class="btn btn-info"
                            >Edit</a
                        >
                        <a
                            href="{{ url_for('tasks.delete_task', task_id=item.id) }}"
                            class="btn btn-danger"
                            >Delete</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock content %} {% block script %}
<script>
    function PriorityColor() {
        var priority = document.querySelectorAll(".priority");
        var card = document.querySelectorAll(".card");
        for (let i = 0; i < priority.length; i++) {
            console.log(Number(priority[i].innerHTML));
            if (Number(priority[i].innerHTML) == 1) {
                card[i].style.backgroundColor = "#f16a6a";
            } else if (Number(priority[i].innerHTML) == 2) {
                card[i].style.backgroundColor = "#f5f25d";
            } else if (Number(priority[i].innerHTML) == 3) {
                card[i].style.backgroundColor = "#5dd2f5";
            } else if (Number(priority[i].innerHTML) == 4) {
                card[i].style.backgroundColor = "#6af55d";
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        PriorityColor();
    }, false);
    // Создаем HTML pattern для элемента, который будет отображаться
    function createTaskPattern(data) {
        var pattern = [
            '<div class="card text-center" style="width: 18rem">',
            '<div class="card-body">',
            '<h5 class="card-title">',
            data["title"],
            "</h5>",
            '<p class="card-text">Priority: <a class="priority">',
            data["priority"],
            "</a></p>",
            "<div>",
            '<input type="checkbox" id="completed" name="',
            data["id"],
            '" onclick="completeTask(this.name)">',
            '<a href="/tasks/',
            data["id"],
            '" class="btn btn-info">Edit</a>',
            '<a href="/tasks_delete/',
            data["id"],
            '" class="btn btn-danger">Delete</a>',
            "</div>",
            "</div>",
            "</div>",
        ];
        return pattern.join("");
    }

    // Search Implementation
    // Отправляем HTTP запрос в python функцию
    // и получаем оттуда информацию из базы данных
    // В теле запроса передаем содержимое поисковой строки
    function fetchData(text, url) {
        const tasks = document.querySelector("#tasks");

        fetch(url, {
            method: "POST",
            body: JSON.stringify(text),
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                }

                response.json().then(function (data) {
                    let pattern,
                        nodes = "";

                    data.forEach((element) => {
                        pattern = createTaskPattern(element);
                        nodes += pattern;
                    });

                    tasks.innerHTML = nodes;
                    PriorityColor();
                });
            })
            .catch(function (error) {
                tasks.innerHTML = "Failed to load";
            });
    }

    // При вводе в поисковое поле вызываем функцию fetchSearch
    document.getElementById("finder").oninput = function () {
        const textToFind = this.value.trim();

        // Поиск начнется только если в строке есть символы
        if (textToFind.match(/^[a-z0-9]*$/i)) {
            fetchData(textToFind, '{{ url_for("tasks.search_request") }}');
        }
    };

    // Task completion implementation
    // id передается при нажатии на конкретный checkbox
    function completeTask(id) {
        const checkbox = document.getElementsByName(id)[0].checked;

        // Проверяем если checkbox активен
        if (checkbox) {
            fetchData(id, '{{ url_for("tasks.complete_task") }}');
        }
    }
</script>
{% endblock script %}
