{% extends "base.html" %} {% block content %}
<main>
    <div class="container" id="cards" style="margin-top: 8em">
        <div class="card_header">
            <h1 style="text-align: center">Today Tasks</h1>
            <div class="btn-group">
                <a
                    href="{{ url_for('users.upcoming_tasks') }}"
                    class="btn btn-primary"
                    >All tasks</a
                >
            </div>
            <a
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#AddTaskModal"
                >Add Task</a
            >
        </div>
        <div class="cards" id="tasks">
            {% for item in tasks %}
            <div class="card text-center" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ item.title }} - {% if item.done %} Done! {% else %}
                        In progress {% endif %}
                    </h5>
                    <p class="card-text">Priority: {{ item.priority }}</p>
                    <div>
                        {% if item.done %}
                        <input
                            type="checkbox"
                            class="btn-check"
                            id="btn-check-outlined"
                            autocomplete="off"
                            checked
                        />
                        {% else %}
                        <input
                            type="checkbox"
                            class="btn-check"
                            id="btn-check-outlined"
                            autocomplete="off"
                        />
                        {% endif %}
                        <label
                            class="btn btn-outline-primary"
                            for="btn-check-outlined"
                            >Done</label
                        >
                        <a href="/tasks/{{ item.id }}" class="btn btn-info"
                            >Edit</a
                        >
                        <a
                            href="/tasks_delete/{{ item.id }}"
                            class="btn btn-danger"
                            >Delete</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %} {% block script %}
{% endblock script %}
