{% extends "base.html" %} {% block content %}
<div class="content-title">
    <h1 class="title">Today's Tasks</h1>
    <button class="btn btn-primary shadow-none" type="button" data-bs-toggle="modal" data-bs-target="#AddTaskModal">Add Task</button>
</div>

<div class="cards" id="tasks">
    {% if not tasks %}
        <div class="help-text">
        <p>You don't have any tasks for today<br>
        Add a task by clicking the "Add Task" button!</p>
        </div>
    {% else %}
        {% for item in tasks %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">
                    Priority: <span name="priority">{{ item.priority }}</span>
                </p>
                <div class="btn-group">
                    <button
                        type="button"
                        class="btn btn-success"
                        data-toggle="button"
                        autocomplete="off"
                        onclick="completeTask('{{ item.id }}')"
                    >
                        Done
                    </button>
                    <button class="btn btn-info" onclick="editTask('{{ item.id }}')">Edit</button>
                    <button class="btn btn-danger" onclick=location.href="{{ url_for('tasks.delete_task', task_id=item.id) }}">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="modal d-block" id="AddTaskModal" tabindex="-1" aria-labelledby="AddTaskModal" aria-hidden="true" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form action="{{ url_for('users.tasks') }}" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.title.label }}
                        {{ form.title(class="form-control", id="addTaskName") }}
                    </p>
                    <p>
                        {{ form.priority.label }}
                        <div class="priority-choice">
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" checked name="priority" value="1">
                                    <span class="checkmark">1</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="2">
                                    <span class="checkmark">2</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="3">
                                    <span class="checkmark">3</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="4">
                                    <span class="checkmark">4</span>
                                </label>
                            </div>
                        </div>
                    </p>
                    <p>
                        {{ form.scheduled_date.label }}<br>
                        <input id="addTaskCalendar" class="calendar" type="date" name="calendar" onchange="changeDateFormat('add')" value="{{ today }}" min="{{ today }}">
                    </p>
                    <p class="float-end">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="editModal"></div>
{% endblock content %} 
{% block script %}
<script src="{{ url_for('static', filename='scripts/today.js') }}"></script>
{% endblock script %}
