{% extends "base.html" %} {% block content %}
<div>
    <div class="content-title">
        <p class="title">Upcoming Tasks</p>
        <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#AddTaskModal"
            >Add Task</button>
    </div>
    <div id="tasks">
        {% if not tasks %}
            <p class="help-text">You don't have any upcoming tasks<br>
            Add a task by clicking the "Add Task" button!</p>
        {% else %}
            {% for key, val in tasks.items() %}
                <div class="date-group">
                    <h1>{{ key }}</h1>
                    <div class="cards">
                        {% for item in val %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <p class="card-text">
                                        Priority: <span name="priorities">{{ item.priority }}</span>
                                    </p>
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            data-toggle="button"
                                            autocomplete="off"
                                            onclick="completeTask('{{ item.id }}')"
                                        >
                                            Done
                                        </button>
                                        <button class="btn btn-info" onclick=location.href="{{ url_for('tasks.edit_task', task_id=item.id) }}">Edit</button>
                                        <button class="btn btn-danger" onclick=location.href="{{ url_for('tasks.delete_task', task_id=item.id) }}">Delete</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="modal" id="AddTaskModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('users.upcoming_tasks') }}" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.title.label }}
                        {{ form.title(class="form-control") }}
                    </p>
                    <p>
                        {{ form.priority.label }}
                        <div class="priority-choice">
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" checked name="priority" value="1">
                                    <span class="checkmark">1</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="2">
                                    <span class="checkmark">2</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="3">
                                    <span class="checkmark">3</span>
                                </label>
                            </div>
                            <div class="priority-unit">
                                <label class="checkbox">
                                    <input type="radio" name="priority" value="4">
                                    <span class="checkmark">4</span>
                                </label>
                            </div>
                        </div>
                    </p>
                    <p>
                        {{ form.scheduled_date.label }}<br>
                        <input class="calendar" type="date" name="calendar" data-date-format="DD MMMM YYYY" value="{{ today }}" min="{{ today }}">
                    </p>
                    <p style="float: right;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='scripts/upcoming.js') }}"></script>
{% endblock %}
