:root {
    --priority-1-color: #e63f22b0;
    --priority-2-color: #f0eb65b4;
    --priority-3-color: #66d9b8b9;
    --priority-4-color: #8a65f0c5;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}


/* Bootstrap Classes Reassign */

.container-fluid {
    padding: 0;
    position: absolute;
}

.h-15 {
    height: 15%!important;
}

.h-85 {
    height: 85%!important;
}

button:focus {
    box-shadow: none;
    outline: none !important;
}

.btn-info {
    color: white;
}

.btn-info:hover {
    color: white;
}

input.form-control:focus {
    box-shadow: none;
}


/* Customize Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #b19ea5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    width: 15px;
    background: #8b7e83;
}


/*  Header  */

header {
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 0;
    background-color: #eee8e8;
}

.row>header {
    padding: 2% 2%;
}

.username {
    display: inline;
    font-size: 19px;
    margin-right: 10px;
}

.account-img {
    width: 60px;
    height: 60px;
}

#search-bar {
    width: 60%;
    border: none;
    border-bottom: 3px solid gray;
    border-radius: 0 0 4px 4px;
    outline: none;
    transition: all 0.33s;
    transform: scale(1);
    background-color: #eee8e8;
}


/*  SideBar  */

.sidebar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
    padding: 1.5% 1%;
    background-color: rgb(238, 232, 232);
    height: 100%;
}

.sidebar-item {
    position: relative;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 15px 0;
    font-size: 18px;
    transition: all 0.25s;
}

.sidebar-item a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.sidebar-item p {
    display: inline;
}

.icon {
    width: 28px;
    margin: 0 5px;
}


/* Trasitions */

.sidebar-item:hover {
    background-color: #c2bebea1;
    border-radius: 8px;
    transition: all 0.25s;
}

#search-bar:focus {
    border-bottom-color: rgb(121, 116, 116);
    transition: all 0.33s;
    transform: scale(1.05);
}


/* Main-content */

.help-text {
    position: absolute;
    font-size: large;
    text-align: center;
    top: 85%;
    width: 80%;
}

.content-title {
    margin-bottom: 30px;
}

.title {
    font: bold 50px 'Ubuntu', sans-serif;
    color: rgb(66, 65, 65);
    margin: 50px 0 40px 0;
    text-align: center;
}

.content-title .btn-primary {
    width: 200px;
    height: 55px;
    background-color: #7565F0;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

.content-title .btn-primary:hover {
    color: white;
    background-color: #5a46da;
}

.content {
    margin-left: 15px;
    height: 100%;
    padding: 10px 30px;
    overflow-x: auto;
    overflow-y: auto;
}

.cards {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.date-group {
    margin-bottom: 50px;
}

.date-group h1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}

.card {
    width: 20rem;
    text-align: center;
    margin: 5px;
    bottom: 0;
    right: 0;
    transition-duration: 0.25s;
    transition-property: all;
    cursor: pointer;
}

.card:hover {
    bottom: 5px;
    right: 5px;
}

.btn-group {
    margin: 10px 0;
    width: 250px;
    height: 43px;
}


/* Dashboard */

.big-img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.table {
    margin: auto;
    margin-bottom: 40px;
}


/* Alerts */

.flash-notification {
    right: 0;
    position: fixed;
    z-index: 1;
}


/* Edit Page */

.edit {
    margin: auto;
    width: 80%;
}


/*  Custom Radio Buttons*/

.checkbox {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    opacity: 0;
    height: 50px;
}

.checkmark {
    position: absolute;
    cursor: pointer;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background-color: #eee;
    text-align: center;
    font-size: 22px;
    padding: 8% 0 0 0;
    transition: all 0.25s;
}

.checkmark:hover {
    background-color: #ccc;
    transition: all 0.25s;
}

.checkbox input:checked[value="1"]~.checkmark {
    background-color: var(--priority-1-color);
}

.checkbox input:checked[value="2"]~.checkmark {
    background-color: var(--priority-2-color);
}

.checkbox input:checked[value="3"]~.checkmark {
    background-color: var(--priority-3-color);
}

.checkbox input:checked[value="4"]~.checkmark {
    background-color: var(--priority-4-color);
}

.priority-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.priority-unit {
    width: 100px;
}

.priority {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(189, 184, 184);
    border-radius: 3px;
    background-color: white;
}

.priority:hover {
    background-color: rgb(230, 228, 228);
}

.calendar {
    position: relative;
    width: 200px;
    height: 30px;
    color: white;
}

.calendar:before {
    position: absolute;
    top: 3px;
    left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

.calendar::-webkit-datetime-edit,
.calendar::-webkit-inner-spin-button,
.calendar::-webkit-clear-button {
    display: none;
}

.calendar::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}


/* ANIMS */

@keyframes anime {
    0% {
        color: blue;
    }
    33% {
        color: blueviolet;
    }
    66% {
        color: blueviolet;
    }
    100% {
        color: blue;
    }
}

.anim_text {
    font-size: xx-large;
    animation: anime infinite 2s linear;
    margin: auto;
}