* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/*  Header  */

header {
    z-index: 2;
    position: fixed;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    letter-spacing: 1px;
    width: 100%;
    height: 8em;
    padding: 2em 4%;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
}

.header_logo {
    font-size: 24px;
    font-weight: bold;
}

.header_nav {
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: auto;
}

#finder {
    width: 500px;
    overflow: hidden;
    border: none;
    border-bottom: 3px solid gray;
    outline: none;
    transition: all 0.33s;
    transform: scale(1);
}

#finder:focus {
    border-bottom-color: rgb(100, 96, 96);
    transition: all 0.33s;
    transform: scale(1.1);
}

.username {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*  SideBar  */

.side_bar {
    z-index: 1;
    position: fixed;
    margin-top: 8em;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 664px;
    width: 20%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px 20px;
    float: left;
}

.sidebar_item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
    transition: all 0.3s;
    transform: scale(1);
}

.sidebar_text {
    animation: anime infinite 2s linear;
}

.icon {
    width: 28px;
    margin: 0 5px;
}

/* Trasitions */

.sidebar_item:hover {
    background-color: rgba(177, 174, 174, 0.685);
    border-radius: 8px;
    transition: all 0.3s;
    transform: scale(1.1);
}

/* Main-content */

main {
    padding: 10px 30px;
    margin: 20px 20%;
}

.cards {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}

.card {
    margin: 5px;
    bottom: 0;
    right: 0;
    transition-duration: 0.2s;
    transition-property: all;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 5px;
    right: 5px;
}

#cards {
    margin: 0 auto;
}

#buttons_container {
    max-width: 600px;
}

.btn-group {
    margin: 10px 0;
}

.form-check {
    min-width: 100px;
}

#completed {
    margin: auto 10px;
    height: 40px;
    width: 40px;
    background-color: #eec321;
}

#completed:after {
    content: "";
    position: absolute;
    display: none;
}

/* Alerts */

.alert {
    position: absolute;
    right: 0;
    top: 8em;
    z-index: 1;
}

#my-alert-LR {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Dashboard */

.withimg {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    max-height: 290px;
    margin-bottom: 20px;
}

.withtext {
    text-align: right;
    min-width: 250px;
    min-height: 250px;
    margin-bottom: 20px;
}

/* ANIMS */

@keyframes anime {
    0% {
        color: blue;
    }
    33% {
        color: blueviolet;
    }
    66% {
        color: blueviolet;
    }
    100% {
        color: blue;
    }
}

.anim_text {
    font-size: xx-large;
    animation: anime infinite 2s linear;
    margin: auto;
}
